<html>
	<head>
		<title>Hotel Order</title>
		<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
		<link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="/assets/order-list.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	</head>
	<body>
		<h1 id="heading" hotel-id="<%= hotel_id%>">Fodo dashboard:  <%= name %></h1>
		<p><%= hotel_id%></p>
		<br><br><br><br>
			<% for (var i = orders.length-1 ; i >= 0 ; i--){ %>
						<% if (orders[i].status == "Cancelled") {%>
							<div id="food-table-red">
								<button class="cancel-button" data-fpid='<%= orders[i]._id%>'>Cancel</button>
								<button class="accept-button" data-fpid='<%= orders[i]._id%>'>Accept</button>
								<button class="pickup-button" data-fpid='<%= orders[i]._id%>'>Ready for Pickup</button>

								<ul>
									<li>Name: <%= orders[i].name %>		|		Mobile: <%= orders[i].mobile %></li>
									<li>Address: <%= orders[i].address %></li>
									<li><%= orders[i]._id%></li>
									<br>
									<% for (var j = 0; j < orders[i].items.length; j++){ %>
										<div id="item-table">
											<ul id="item-ul">
												<li>Item Name: <%= orders[i].items[j].name %>		|		Quantity: <%= orders[i].items[j].quantity %></li>
												<li>Extra: <%= orders[i].items[j].extra %></li>
											</ul>
										</div>		
									<% } %>	
								</ul>
							</div>
						<%} else if (orders[i].status == "Confirmed"){%>
							<div id="food-table-green">
								<button class="cancel-button" data-fpid='<%= orders[i]._id%>'>Cancel</button>
								<button class="accept-button" data-fpid='<%= orders[i]._id%>'>Accept</button>
								<button class="pickup-button" data-fpid='<%= orders[i]._id%>'>Ready for Pickup</button>

								<ul>
									<li>Name: <%= orders[i].name %>		|		Mobile: <%= orders[i].mobile %></li>
									<li>Address: <%= orders[i].address %></li>
									<li><%= orders[i]._id%></li>
									<br>
									<% for (var j = 0; j < orders[i].items.length; j++){ %>
										<div id="item-table">
											<ul id="item-ul">
												<li>Item Name: <%= orders[i].items[j].name %>		|		Quantity: <%= orders[i].items[j].quantity %></li>
												<li>Extra: <%= orders[i].items[j].extra %></li>
											</ul>
										</div>		
									<% } %>	
								</ul>
							</div>
						<%} else if (orders[i].status == "Out for Delivery"){%>
							<div id="food-table-grey">
								<button class="cancel-button" data-fpid='<%= orders[i]._id%>'>Cancel</button>
								<button class="accept-button" data-fpid='<%= orders[i]._id%>'>Accept</button>
								<button class="pickup-button" data-fpid='<%= orders[i]._id%>'>Ready for Pickup</button>

								<ul>
									<li>Name: <%= orders[i].name %>		|		Mobile: <%= orders[i].mobile %></li>
									<li>Address: <%= orders[i].address %></li>
									<li><%= orders[i]._id%></li>
									<br>
									<% for (var j = 0; j < orders[i].items.length; j++){ %>
										<div id="item-table">
											<ul id="item-ul">
												<li>Item Name: <%= orders[i].items[j].name %>		|		Quantity: <%= orders[i].items[j].quantity %></li>
												<li>Extra: <%= orders[i].items[j].extra %></li>
											</ul>
										</div>		
									<% } %>	
								</ul>
							</div>
						<%} else {%>
							<div id="food-table">
								<button class="cancel-button" data-fpid='<%= orders[i]._id%>'>Cancel</button>
								<button class="accept-button" data-fpid='<%= orders[i]._id%>'>Accept</button>
								<button class="pickup-button" data-fpid='<%= orders[i]._id%>'>Ready for Pickup</button>

								<ul>
									<li>Name: <%= orders[i].name %>		|		Mobile: <%= orders[i].mobile %></li>
									<li>Address: <%= orders[i].address %></li>
									<li><%= orders[i]._id%></li>
									<br>
									<% for (var j = 0; j < orders[i].items.length; j++){ %>
										<div id="item-table">
											<ul id="item-ul">
												<li>Item Name: <%= orders[i].items[j].name %>		|		Quantity: <%= orders[i].items[j].quantity %></li>
												<li>Extra: <%= orders[i].items[j].extra %></li>
											</ul>
										</div>		
									<% } %>	
								</ul>
							</div>
						<% } %>

			<% } %>

			
	</body>
</html>
